<h2>STUPID COACHING</h2>

<p>Speak to your coach</p>

<form action="/answer" method="get">
  <div class="form-group col-md-5" id="question-box">
    <input type="text" id="question" name="query" placeholder="Write your question" class="form-control">
  </div>
  <div>
    <input type="submit" value="Go on!" class="btn btn-primary" id="submit">
  </div>
</form>



