<h2>STUPID COACHING</h2>

<p>Speak to your coach</p>

<form action="/answer" class="form-inline"  method="get">
  <div class="input-group input-group-lg">
    <input type="text" id="question" name="query" placeholder="Write your question" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Go on!" class="btn btn-primary">
    </span>
  </div>
</form>



